body{
    margin: 0;
}

img {
    margin: 0;
    width: 60px;
    height: 60px;
    padding: 20px 20px
}

h1, h2, h3{
    margin: 0;
}

h1{
    font-family: 'Noto Serif JP', serif;
}

h2{
    font-family: 'Yuji Boku', serif;
}

.Row{
    height: 100px;
    padding: 0px;
    border: 0;
    display: block;
}

.White, .Black{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-right: -5px;
}

.White{
    background-color: antiquewhite;
}

.Black {
    background-color: burlywood;
}