body {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

body > img{
    position: fixed;
    height: 100%;
    width: auto;
    background-repeat: repeat-x;
    left: 0;
}

a {
    color: cyan;
}

h1 {
    margin: 0;
}

.content {
    width: 80%;
    height: 100%;
    padding: 30px;
    border-width: 2px;
    border-color: blue;
    background-color: #0e0418ea;
    position: relative;
    display: inline-block;
    text-align: left;
}

#cellContent{
    padding: 0 50px 0 0;
}

.boldText{
    font-weight: 800;
    color: rgb(254, 226, 196);
}

hr{
    border-width: 2px;
    border-style: none none dashed none;
    height: 5px;
}

.img-tetrominos{
    margin: 0 50px;
}

.tetrisPiece{
    position: absolute;
    display: inline-block;
    border-style: inset;
    border-width: 3px;
    width: 50px;
    height: 50px;
}

.tetris{
    position: relative;
    margin: 50px 200px;
    width: 230px;
    height: 110px;
}

.tetris-i{
    background-color: aqua;
}

.tetris-j{
    background-color: blue;
}

.tetris-l {
    background-color: orange;
}

.tetris-o {
    background-color: yellow;
}

.tetris-s {
    background-color: green;
}

.tetris-t {
    background-color: yellow;
}

.tetris-z {
    background-color: red;
}

ol{
    list-style: decimal;
}

li a{
    text-decoration: underline;
}