* body{
    color: whitesmoke;
    background-color: #20262e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3{
    color: #953d91;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: #adff2f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol li{
    color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
}

hr{
    border-style: dotted;
    border-color: #cd5888;
    height: 10px;
    width: 75%;
    border-width: 0px;
    border-top-width: 6px;
}

#FistLine {
    border-style: solid;
}

.DottedBorder{
    border-style: dotted;
    border-color: #953d91;
    height: 10px;
    border-width: 3px;
}

.FilledTable{
    background-color: #cd5888;
    width: 40%px;
    padding: 8px;
}

.FilledTable td {
    color: powderblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ReducedTables{
    width: 60%;
    height: 80%;
}