body{
    background-color: darkslategray;
    align-content: center;
}

.top-container{
    position: relative;
    background-color: linear-gradient (#913175, #213565);
}

.mid-container {
    background-color: #913175;
}

.bot-container {
    height: 500px;
    background-color: linear-gradient (#913175, #213565);
}

.rubiks-top{
    width: 180px;
    position: absolute;
    bottom: 500px;
    left: 500px;
}

.name{
    position: relative;
    bottom: 500px;
    font-size: 100px;
    color: darkcyan;
    background-color: aliceblue;
    display: inline-block;
    padding:  5px 30px;
    border-radius: 40px;
}

.subtitle{
    position: relative;
    bottom: 640px;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800px;
    color: blueviolet;
}

.gameplay{
    text-decoration: underline;
}

.sun{
    display: block;
    margin: 0 auto;
}

.skill-row{
    display: inline-block;
    width: 70px 100px;
}

.skill1-img{
    width: 100px;
}

.skill2-img {
    width: 100px;
}

.skill3-img {
    width: 100px;
}

/* Tarea: */